@import "tailwindcss";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent body scroll */
    overscroll-behavior: none;
    /* Prevent pull-to-refresh or bounce effects affecting the whole page */
    -webkit-overflow-scrolling: touch;
}